@CHARSET "UTF-8";

body {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
	color: #393939;
	font-size: 12px;
	background-color: white;
	position: relative;
}

h1, h2, h3 {
	margin: 0;
	margin-bottom: 4px;
}

a {
	color: #76A7E8;
	text-decoration: none;
}

#header, #content {
	padding: 10px;
}

#header {
	font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
	background: #404040;
	color: white;
	position: relative;
}

#header h1 {
	margin: 0;
	padding: 0;
	color: #76A7E8;
}

.banner-title {
	position: absolute;
	top: 0px;
	right: 20px;
}

#menu {
	position: absolute;
	top: 28px;
	right: 20px;
} 

#menu li {
	float: left;
	padding: 3px 12px 2px 12px;
	margin: 0 3px 0 3px;
	list-style-type: none;
}

#menu li a {
	background: transparent;
}

#menu li a:hover {	
	color: red;
	background: transparent;
}

#footer {
	font-size: 10px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	clear: both;
	border-top: solid 1px #C1C1C1;
}

#footer a {
	color: #808080;
}

#content {
/*	background-image: url(images/top-bottom.png);
	background-color: #F3F3F3;*/
}

.content-box {
	float: left;
	width: 600px;
	margin: 10px;
	padding-top: 15px;
}

.justified {
	text-align: justify;
}

#sidebar {
	width: 300px;
	float: left;
	margin: 10px;
	margin-right: 0px;
}

.example-box {
	/*width: 300px;
	float: left;
	margin: 10px;
	margin-right: 0px;*/
	margin-bottom: 10px;
}

.example-box li { 
	margin-left: 20px !important;
}


.x-box-tl {
	background: transparent url(images/corners.gif) no-repeat 0 0;
    zoom:1;
}

.x-box-tc {
	height: 8px;
	background: transparent url(images/tb.gif) repeat-x 0 0;
	overflow: hidden;
}

.x-box-tr {
	background: transparent url(images/corners.gif) no-repeat right -8px;
}

.x-box-ml {
	background: transparent url(images/l.gif) repeat-y 0;
	padding-left: 4px;
	overflow: hidden;
    zoom:1;
}

.x-box-mc {
	background: #eee url(images/tb.gif) repeat-x 0 -16px;
	padding: 4px 10px;
	font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
	color: #393939;
	font-size: 12px;
}

.x-box-mc h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 4px 0;
    zoom:1;
}

.x-box-mr {
	background: transparent url(images/r.gif) repeat-y right;
	padding-right: 4px;
	overflow: hidden;
}

.x-box-bl {
	background: transparent url(images/corners.gif) no-repeat 0 -16px;
    zoom:1;
}

.x-box-bc {
	background: transparent url(images/tb.gif) repeat-x 0 -8px;
	height: 8px;
	overflow: hidden;
}

.x-box-br {
	background: transparent url(images/corners.gif) no-repeat right -24px;
}

.x-box-tl, .x-box-bl {
	padding-left: 8px;
	overflow: hidden;
}

.x-box-tr, .x-box-br {
	padding-right: 8px;
	overflow: hidden;
}